.housing-sheet {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  &__informations {
    width: 100%;
    @media (max-width: 1200px) {
      flex-direction: column;
    }
    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 10px;
    h3 {
      color: $primary-color;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.5;
      @media (min-width: 768px) {
        font-size: 24px;
      }
      @media (min-width: 1200px) {
        font-size: 32px;
      }
    }
    p {
      font-size: 14px;
      font-weight: 500;
      @media (min-width: 768px) {
        font-size: 16px;
      }
      @media (min-width: 1200px) {
        font-size: 18px;
      }
    }
  }
  &__tags {
    display: flex;
    gap: 10px;
  }
  &__owner-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (min-width: 1200px) {
      justify-content: end;
      align-items: end;
      flex-direction: column-reverse;
      gap: 20px;
    }
    .rating {
      display: flex;
      gap: 5px;
      img {
        width: 18px;
        height: 18px;
        @media (min-width: 1200px) {
          width: 24px;
          height: 24px;
        }
      }
    }
    .owner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 135px;
      text-align: end;
      gap: 10px;
      img {
        background-color: gray;
        min-width: 48px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        object-fit: cover;
      }
      p {
        color: $primary-color;
        font-size: 16px;
        font-weight: 500;
        margin: auto;
      }
    }
  }
  &__dropdown {
    @include flex-column-center;

    width: 100%;
    gap: 20px;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: start;
    }
  }
}
