.home {
  @include flex-column-center;
  &__housings-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      background-color: $tertiary-color;
      border-radius: 25px;
      padding-bottom: 20px;
    }
  }
}
