.header {
  &__container {
    @include flex-space-between-center;
    margin: 20px;
  }
  &__logo {
    img {
      width: 145px;
      height: auto;
    }
  }
  &__nav {
    @include flex-center;
    gap: 20px;
  }
  &__links {
    text-transform: uppercase;
    font-size: 12px;
    &:hover {
      text-decoration: underline;
    }
  }
}
