.banner {
  @include flex-center;
  width: 100%;
  height: auto;
  &__container {
    display: flex;
    width: 100%;
    height: 111px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    @media (min-width: 768px) {
      height: 166px;
    }
    @media (min-width: 1200px) {
      height: 223px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      filter: brightness(0.5);
      z-index: -1;
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
    width: 80%;
    z-index: 1;
    color: white;
    @media (min-width: 768px) {
      width: 100%;
      text-align: center;
      margin-left: 0;
    }
    h2 {
      font-size: 24px;
      font-weight: 700;
      width: 84%;
      @media (min-width: 768px) {
        width: 100%;
        font-size: 32px;
      }
      @media (min-width: 1200px) {
        font-size: 40px;
      }
    }
  }
}
